// Paths
.paths
	.countries path
		fill $qz-map-land-fill
		stroke $qz-map-land-stroke
		stroke-width 0.1%

	.cities path
		fill $qz-gray-2

// Labels
.labels
	text
		fill $qz-gray-2
		font-size: 60%
		text-anchor start
		alignment-baseline: middle
		-webkit-font-smoothing antialiased
