h2#title Share of Medicare beneficiaries who are also eligible for Medicaid

table.key
    tbody
        tr
            td 0%
            td 13.9%
            td 19.1%
            td 25.2%
        tr
            td.cell.q1 &nbsp;
            td.cell.q2 &nbsp;
            td.cell.q3 &nbsp;
            td.cell.q4 &nbsp;
            
div#graphic

div.footer
    div.left
        div Quartz | qz.com
    div.right
        div Data are from <a href="https://www.cms.gov/research-statistics-data-and-systems/statistics-trends-and-reports/medicare-geographic-variation/gv_puf.html">CMS.gov</a>. Data are unavailable for a small number of counties shown in gray.

p &nbsp;
